{% extends '::base.html.twig' %}

{% block body %}

    {#&#123;&#35; Header &#35;&#125;#}
    {#<div class="navbar navbar-inverse navbar-fixed-top">#}
        {#<div class="navbar-inner">#}
            {#<div class="container">#}
                {#<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">#}
                    {#<span class="icon-bar"></span>#}
                    {#<span class="icon-bar"></span>#}
                    {#<span class="icon-bar"></span>#}
                {#</a>#}
                {#<a class="brand" href="/">Ziki</a>#}
                {#<div class="nav-collapse collapse">#}
                    {#<ul class="nav ">#}
                        {#<li class=""><a href="{{ path('about')}}">What is Ziki</a></li>#}
                        {#<li><a href="#about">Partners</a></li>#}
                        {#<li><a href="#contact">Contact</a></li>#}
                    {#</ul>#}
                    {#<form class="offset1 navbar-search pull-left form-search">#}
                        {#&#123;&#35;<input type="text" class="" placeholder="Search for Songs Artists, Genres">&#35;&#125;#}
                        {#<div class="input-append">#}
                            {#<input type="text" class="span3 search-query" placeholder="Search for Songs Artists, Genres">#}
                            {#<button type="submit" class="btn"><i class="icon-search"></i></button>#}
                        {#</div>#}
                    {#</form>#}
                    {#<ul class="nav pull-right">#}
                        {#<li>#}
                            {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                                {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
                                {#<a href="{{ path('fos_user_security_logout') }}">#}
                                    {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
                                {#</a>#}
                            {#{% else %}#}
                                {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
                            {#{% endif %}#}
                            {#&#123;&#35;<a href="#"><i class="icon-headphones"></i> Sign In</a>&#35;&#125;#}
                        {#</li>#}
                        {#&#123;&#35;<li><a href="#about" class=" "><i class="icon-edit"></i> Create an Account</a></li>&#35;&#125;#}
                        {#&#123;&#35;<li><a href="#contact">Contact</a></li>&#35;&#125;#}
                    {#</ul>#}
                {#</div><!--/.nav-collapse -->#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#&#123;&#35; End Header&#35;&#125;#}

    {% block container %}{% endblock %}
	
	
{% endblock %}