<ul class="nav recent_activity clearfix ">
    <li class="clearFix " >
    <div>
        {#<a href="{{ path('artist_show', { 'id': entity.id }) }}">#}
        <span class="pull-left">
				<a href="{{ path('artist_show', { 'id': entity.id }) }}" class="thumbnail">
                    <img src=
                                 {% if entity.image %}
                                 "/uploads/albums/{{ entity.image }}"
                    {% else %}
                        "{{ asset('bundles/ziki/images/blank-album-pic.jpg') }}"
                    {% endif %}
                    class="artist-small img-rounded"  alt="{{ entity.title }} logo"/>
                </a>
			</span>
        {#</a>#}
    </div>
    <div class="clearFix">
        <div class="activity-header">
            {#<a href="/user/73/"> <img src="http://www.gravatar.com/avatar/4f6ad1d9b863e61c73a31d1a92f679da?s=20&amp;r=g&amp;d=http%3A%2F%2Fmedia.opencooks.com%2Fbean20.jpg" class="gravatar_small pull-left" alt="jcottobboni" style="margin-right:5px;"> </a>#}
            <strong>
                <a href="{{ path('album_show', { 'id': entity.id }) }}">{{ entity.title }}</a>



            </strong>
            {% for album in entity.tracks %}
                {% for track in entity.tracks %}
                    <span class="label label-inverse"> {{ track.genre }} </span> &nbsp;
                {% endfor %}
            {% endfor %}
            <div class="pull-right">
                <a href="{{ path('album_show', { 'id': entity.id }) }}" class="label label-warning"><i class="icon-picture icon-white"></i> show</a>
                <a href="{{ path('album_edit', { 'id': entity.id }) }}" class="label label-warning"><i class="icon-edit icon-white"></i> Edit</a>
            </div>
        </div>
        <p><small>{{ entity.description }}</small></p>
        <h4 class="muted">Tracks <span class="label label-important">{{ entity.tracks|length }}</span></h4>
        <table class="table table-bordered table-condensed table-striped">
            {% for album in entity.tracks %}
                {% for track in entity.tracks %}
                    <tr>
                        <td class="span2">
                        <span class="badge badge-inverse">{{ loop.index }}</span> <strong>{{ track.title }}</strong>

                             <span class="pull-right" >
                             <small>
                                 <a href="btn btn-mini" title="Play"><i class="icon-play-circle"> </i> Play</a>
                                 <a href="btn btn-mini" title="Add to playlist"><i class="icon-plus-sign"></i> Add to play list</a>
                                 <a href="btn btn-mini"><i class="icon-share"></i> Share</a>
                             </small>
                         </span>
                         {#</div>#}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
        </ul>
    </div>
</li>
    </ul>








{#&#123;&#35;<li class="list-border {{ cycle(['odd', 'even'], loop.index) }}">&#35;&#125;#}
	{#<div class="row">#}
		{#<div class="span10">#}
			{#<span class="pull-left">#}
				{#<a href="{{ path('artist_show', { 'id': entity.id }) }}" class="thumbnail">#}
					{#<img src=#}
				{#{% if entity.image %}#}
					{#"/uploads/artists/{{ entity.image }}" #}
	        	{#{% else %}#}
					{#"{{ asset('bundles/ziki/images/blank-album-pic.jpg') }}"#}
				{#{% endif %}#}
					{#class="album-small img-rounded"  alt="{{ entity.title }}"/>#}
				{#</a>#}
			{#</span>#}
			{#<p> #}
				{#<small><span class="text-info"><strong>{{ entity.title }}</strong> Released: {{ entity.releasedAt|date('d m Y') }}<br>#}
				{#{{ entity.description }}<br>#}
                {#</small></span>#}
                {#<ul class="list-border">#}
                      {#{% for track in entity.tracks %}#}
                          {#<li>{{ track.title }}</li>#}
                      {#{% endfor %}#}
                {#</ul>#}
				{#<span class="pull-right">#}
					{#<a href="{{ path('album_show', { 'id': entity.id }) }}" class="btn btn-small">show</a>#}
					{#<a href="{{ path('album_edit', { 'id': entity.id }) }}" class="btn btn-small">edit</a> &#123;&#35; show when logged in&#35;&#125;#}
					{#&nbsp;#}
				{#</span>#}
			{#</p>#}
		{#</div>#}
	{#</div>#}
{#&#123;&#35;</li>&#35;&#125;#}


